html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  color: inherit; 
}

h1 {
  font-size: 2.5rem; 
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem; 
}

h3 {
  font-size: 1.75rem; 
}

h4 {
  font-size: 1.5rem; 
}

h5 {
  font-size: 1.25rem; 
  margin-bottom: 1rem;
}

h6 {
  font-size: 1rem;
}
  
/*
 * General
 */

.right {
  float: right;
}

/*
 * Navigation
 */

nav {
  background: #0086ad;
}
  
nav a {
  padding: 15px;
  padding-bottom: 13px;
  color: white;
  display: inline-block;
  text-decoration: none;
  font-size: larger;
}
  
nav a:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Fit all the links in the nav on small devices */
@media only screen and (max-width: 415px) {
  nav a {
    padding-right: 8px;
    padding-left: 8px;
  }
}

/*
 * Error and Warning
 */
  
.warn {
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #7d581a;
  background-color: #fff7cf;
  border-color: #efda7a;
  }

#error {
  margin: 1rem;
  margin-bottom: 0.5rem;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebcccc; 
}

/* Unfortunately #error is always there. */
/* So hide it with :empty */
#error:empty {
  display: none;
}
  
/*
 * Table
 */

table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
}
table th,
table td {
  padding: 0.75rem;
  margin: 0;
  vertical-align: middle;
  text-align: left;
  border-bottom: 1px solid #eceeef;
}
table th {
  background: rgba(0, 0, 0, 0.03);
  font-weight: bold;
  vertical-align: bottom;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  border-top: 2px solid rgba(0, 0, 0, 0.1); 
}
  
  table tr.selected {
    background: #93d3e7;
  }

/*
 * Button
 */

button {
  text-transform: capitalize;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.02);
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.2s ease-in-out; 
}

button:focus, button:hover {
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0.10);
  border: 1px solid rgba(0, 0, 0, 0.15);
}
button:focus {
  outline: 0;
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.25); 
}
button:disabled {
  opacity: .65; 
}

.button-primary {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8; 
}
.button-primary:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}
.button-primary:focus {
  box-shadow: 0 0 0 2px rgba(2, 117, 216, 0.5); 
}
.button-primary:disabled {
  background-color: #0275d8;
  border-color: #0275d8; 
}
.button-primary:active {
  color: #fff;
  background-color: #025aa5;
  background-image: none;
  border-color: #01549b;
}

.button-warn {
  color: #fff;
  background-color: #d9534f;
  border-color: #d9534f; 
}
.button-warn:hover {
  color: #fff;
  background-color: #c9302c;
  border-color: #c12e2a;
}
.button-warn:focus{
  box-shadow: 0 0 0 2px rgba(217, 83, 79, 0.5);
}
.button-warn:disabled {
  background-color: #d9534f;
  border-color: #d9534f;
}
.button-warn:active{
  color: #fff;
  background-color: #c9302c;
  background-image: none;
  border-color: #c12e2a;
}

/*
 * Input
 */

input[type="text"]:focus,
input[type="number"]:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}
input[type="text"],
input[type="number"] {
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

/*
 * Footer
 */

#copyright {
  margin-top: 20px;
  font-size: 13px;
}

/**
*** SIMPLE GRID
*** (C) ZACH COLE 2016
**/

/* ==== GRID SYSTEM ==== */

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}

.hidden-sm {
  display: none;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 45em) {  /* 720px */
  .col-1 {
    width: 4.33%;
  }

  .col-2 {
    width: 12.66%;
  }

  .col-3 {
    width: 21%;
  }

  .col-4 {
    width: 29.33%;
  }

  .col-5 {
    width: 37.66%;
  }

  .col-6 {
    width: 46%;
  }

  .col-7 {
    width: 54.33%;
  }

  .col-8 {
    width: 62.66%;
  }

  .col-9 {
    width: 71%;
  }

  .col-10 {
    width: 79.33%;
  }

  .col-11 {
    width: 87.66%;
  }

  .col-12 {
    width: 96%;
  }

  .hidden-sm {
    display: block;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .container {
    width: 80%;
    max-width: 60rem;
  }
}