/* Global */
*,body{
	margin: 0;
	padding: 0;
	font-family: arial;
	color: #fafafa;
	background-color: #000;
}
h1{
	font-size: 22px;
	margin-bottom: 0.6em;
	background: #004d40;
	color: #fafafa;
	padding:0.2em;
	border-radius:4px;
}
button{
	background: #004d40;
	color: #fafafa;
	border: 1px solid #212121;
	border-radius: 14px;
	padding: 0.34em 0.3em;
	margin-bottom: 0.6em;
}
button:hover{
	color: #000;
}
input{
	height: 22px;
	width: 120px;
	border: 1px solid #bdbdbd;
	border-radius: 5px;
	padding: 0.2em;
	margin: 2px;
}
input[type="checkbox"]{
	height: 15px;
	width: auto;
}
.warn{
	color:#c20000;
}
.warnBtn{
	background: #c20000;
	color: #fafafa;
}
.warnBtn:hover{
	background: #f00;
	color: #000;
}
.selectedBtn{
	background: #fafafa;
	color: #000;
}
.selectedBtn:hover{
	background: #004d40;
	color: #fafafa;
}
.right{ float: right; }
.bold{ font-weight: bold; }
.block{ display: block; }
.marginNull{ margin: 0}
.blue{ color: #004d40 }
.small{ font-size: 14px; color: #bdbdbd }
	
/* Navigation */
nav{
	background: #000;
}
nav a{
	background: #000;
	color: #fafafa;
	padding: 0.5em;
	display: inline-block;
	text-decoration: none;
}
nav a:hover{
	background: #000;
	color: #fafafa;
}
	
/* Content */
#content{
	padding: 0.34em;
}
table{
	padding: 0;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	border-spacing: 0;
	background: #000;
}
table th{
	background: #000;
	color: #fafafa;
}
table td{
	font-size: 14px;
	background: #000;
}
table th, table td{
	text-align: center;
	padding: 0.1em 0;
}
table .selected td{
	background: #004d40;
}